
.landing-grid {
  text-align: center;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-text {
  text-align: center;
}

.banner-text h2 {
  font-size: 56px;
  font-weight: bold;
  color: rgb(8, 0, 0);
}

.App {
  text-align: center;
}

h2{
  text-align: center;
  margin-top: 50%;
  margin-bottom: 50%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 20px;
  font-weight: bold;
 
}

.Navbar{
  color: black;
  background-color: rgb(201, 132, 30);
}





.Footer{
  padding-top: 1%;
  padding-bottom: 1%;
  letter-spacing:3px ;
}
/* Hero */
.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  
  min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background:white;
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  
  
}
.banner h1 {
  font-size: 3.5rem;
  font-weight: bold;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 8rem;
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}